/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    /* colors for text, accents, and background */
    --bg-main: #F4EFEA;
    --bg-dark: #3A2F28;
    --bg-soft: #FAF6F2;

    --text-main: #2B2B2B;
    --text-on-dark: #F4EFEA;
    --text-muted: #6B5A50;

    --accent-primary: #C49A6C;
    --accent-secondary: #8FAF9D;
    --accent-soft: #E6C8C3;

    --border: #E3DCD5;

    /*typography fonts*/
    --font-heading: "mielle-cf", serif;
    --font-body: "articulat-cf", sans-serif;

    /* shadows */
    --shadow-soft: 0 6px 18px rgba(0, 0, 0, 0.10);
    --shadow-pop: 0 10px 28px rgba(0, 0, 0, 0.16);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: var(--font-body);
    line-height: 1.6;
}

header, main, footer{
    width: 1280px;
    margin: 0, auto;
    padding-left: 64px;
    padding-right: 64px;
}

main{
    padding-top:48px;
    padding-bottom: 48px;
}

section{
    padding-top: 64px;
    padding-bottom: 64px;
}

header{

}